* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.heading_font {
    font-family: 'Berkshire Swash', cursive;
}

a {
    text-decoration: none;
    color: unset;
}

.row {
    clear: both;
}

.row::after {
    content: "";
    clear: both;
}

.column {
    float: left;
    width: 50%;
}


h1 {
    text-align: left;
    font-size: 5rem;
}

header>nav {
    height: 4rem;
}

header>nav>ul {
    list-style: none;
    padding: 1rem;
}

header>nav>ul>li {
    display: inline-block;
    border-radius: 1.56rem;
    padding: .5rem 1rem;
}

header .hero_wrapper {
    height: 480px;
    /* background-color: blue; */
    position: relative;
}

header .hero_wrapper img {
    height: 100%;
    width: 100%;
}

header .hero_wrapper>.hero_text_wrapper {
    position: absolute;
    top: 15rem;
    left: 1rem;
    padding: 1rem;
}

header .hero_wrapper>.hero_text_wrapper p {
    background-color: #fff;
    padding: 0 .3rem;
}

header .hero_wrapper>.hero_text_wrapper p,
header>nav>ul>li {
    font-weight: 700;
}

/* MAIN */

main {
    min-height: 40rem;
    padding: 4.5rem;
}

header>nav>ul>li, 
main .row>.column>h2 {
    text-transform: uppercase;

}

/* FOOTER */

footer {
    min-height: 16.25rem;
    padding: 3.5rem;
    font-weight: 300;
    font-size: 1.2rem;
    background-color: lightgrey;
    text-align: center;
}

footer>p {
    font-size: 2rem;
    margin-bottom: 4rem;
}

footer .row>p {
    margin-top: 7rem;
}

footer #social_links {
    text-align: center;
}

footer #social_links a:hover i {
    color: lightslategray;
}